.container {
	background-color: rgb(255, 255, 255);
	padding: 10px 20px;
	font-family: 'Inter';
	font-size: 0.9rem;
	border-radius: 10px;
	width: 100%;
	border: 1px solid #e8e8e8;
	border-left: 3px solid #970000;
	text-align: center;
	width: 100%;
	margin-top: 10px;
	color: rgb(50, 50, 50);
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.success {
	border-left: 3px solid #149700;
}


@media screen and (max-width: 425px) {
	.container {
		font-size: 0.8rem;
	}
}
	
