.eventOptions {
	  display: flex;
  flex-direction: row;
  justify-content:center;
  max-width: 800px;
  margin: 0 auto;
  margin-bottom: 30px;
  li {
	  margin: auto;
	  list-style: none;
	  background-color: #f3f3f3;
	  color: rgb(79, 79, 79);
	  padding: 10px 38px;
	  font-size: 0.9rem;
	  text-align: center;
	  cursor: pointer;
	  border-radius: 30px;
	  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
	  border: 1px solid #dfdfdf;
  }

  .selected {
	  background-color: #609ae7;
	  color: #fff;
  }
  
}

.container {
	width: 90%;
	margin: auto;
	max-width: 1000px;
	display: flex;
	justify-content: center;
	flex-direction: column;
	padding-bottom: 30px;

	.noEvents{
		text-align: center;
		margin-top: 20px;
		font-size: 1.2rem;
	}
	
}

.event {
		position: relative;
		background-color: #ffffff;	
		border: 1px solid #e6e9ec;
		color: #454546;
		margin-bottom: 20px;
		border-radius: 10px;
		display: flex;
		flex-direction: row-reverse;
		
		align-items: center;
		.delete {
			position: absolute;
			right: 12px;
			bottom: 12px;
			opacity: 0.5;
			cursor: pointer;

			&:hover {
				opacity: 0.8;
			}
		}
		img.logo {
			
			max-width: 220px;
			
			height: auto;
			padding: 15px;
			max-height: 180px;
			object-fit: cover;
			border-radius: 20px;
		}
		.eventContent {
			width: 80%;
			padding: 5px 20px;

			.editIcon {
				position: absolute;
				right: 37px;
				bottom: 10px;
				opacity: 0.5;
				cursor: pointer;
				width: 23px;
				height: 23px;
		
				&:hover {
					opacity: 0.8;
				}
		
				
			}
		}
		h1 {
			font-size: 1.2rem;
			margin: 10px 0px;
		}
		h2 {
			font-size: 0.9rem;
			margin: 10px 0px;
			
			color: #286dc7;
		}

		h3 {
			font-weight: normal;
			font-size: 0.9rem;
			margin: 10px 0px;
		}

		&:hover {
			background-color: #f0f8ff;
			cursor: pointer;
			transition: all 0.2s ease-in-out;
		}
	}


@media  screen and (max-width: 768px) {
	.event {
		flex-direction: column-reverse;
		align-items: center;
		.eventContent {
			width: 100%;
			padding: 5px 20px;
		}
		img.logo {
			width: 100%;
			max-width: none;
			padding: 0px;
			border-top-left-radius: 5px;
			border-top-right-radius: 5px;
			border-bottom-left-radius: 0px;
			border-bottom-right-radius: 0px;
		}
	}
}

	
@media  screen and (max-width:425px){
	.container {
		.noEvents{
			font-size: 1rem;
		}
	}

	.eventOptions {
		margin-left: 0px;
		margin-right: 0px;
		padding-left: 0px;
		margin-bottom: 20px;
		ul {
			margin: 0;
			padding: 0;
		}
		li {
			padding: 10px 20px;
			font-size: 0.8rem;
		}
	}

	.event {
		.eventContent {
			.editIcon {
			right: 10px;
			bottom: 35px
		}
		}
		
		h1 {
			font-size: 1rem;
		}
		h2 {
			display: none;
			font-size: 0.9rem;
		}
		h3 {
			font-size: 0.8rem;
		}
	}
}