.container {
  margin-bottom: 4rem;
  .title {
    max-width: 1000px;
    margin: 0 auto;
    padding: 10px;
    color: #333;

    
    p {
      margin-bottom: 20px;
      margin-top: 10px;
      font-size: 0.9rem;
    }

    h1 {

      margin-bottom: 10px;
    }
  }
 main {
   width: 80%;
  margin: 0 auto;
  margin-bottom: 60px;
 }
 .request {
   text-align: center;
  h2 {
    margin-bottom: 30px;
  }
   a {
     margin-top: 10px;
     background-color: #3d62c7;
     padding: 15px;
     color: #fff;
     border-radius: 3px;

     &:hover {
       background-color: #3658b3;
     }
   }
 } 
}