.container {
  margin-bottom: 4rem;
  .title {
    max-width: 1000px;
    margin: 0 auto;
    padding: 10px 0px;
    color: #333;
    margin-top: 10px;
    input[type='text'] {
      width: 100%;
      padding: 12px;
      outline: none;
      border: 1px solid #d7d8d8;
      border-radius: 3px;
      font-size: 0.9rem;
      color: rgb(68, 68, 68);
      font-family: 'Inter';
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    }
    
  }
 main {
   width: 80%;
  margin: 0 auto;
  margin-bottom: 60px;
 }
 .request {
   text-align: center;
  h2 {
    margin-bottom: 30px;
  }
   a {
     margin-top: 10px;
     background-color: #3d62c7;
     padding: 15px;
     color: #fff;
     border-radius: 3px;

     &:hover {
       background-color: #3658b3;
     }
   }
 } 
}