.container {
	width: 80%;
	margin: 0 auto;
	max-width: 1000px;

	.editIcon {
		position: absolute;
		right: 36px;
		bottom: 8px;
		opacity: 0.5;
		cursor: pointer;
		width: 23px;
		height: 23px;

		&:hover {
			opacity: 0.8;
		}

		
	}
	.resource {
		position: relative;
		.delete {
			position: absolute;
			right: 10px;
			bottom: 10px;
			cursor: pointer;
			opacity: 0.5;

			&:hover {
				opacity: 0.8;
			}
		}
	}
	h2  {
		color: rgb(41, 41, 41);
		margin-top: 40px;
		font-size: 1.5rem;
		text-align: center;
	}
	
}
.link {
		margin-bottom: 20px;
		
		color: #646464 !important;
		&:hover {
			text-decoration: underline;
		}
	}