.container {
	width: 80%;
	margin: 0 auto;
	max-width: 1000px;
	.resource {
		position: relative;
		.delete {
			position: absolute;
			right: 10px;
			bottom: 10px;
			cursor: pointer;
		}
	}
	h2  {
		color: rgb(41, 41, 41);
		margin-top: 40px;
		font-size: 1.5rem;
		text-align: center;
	}
	
}
.link {
		margin-bottom: 20px;
		
		color: #646464 !important;
		&:hover {
			text-decoration: underline;
		}
	}