html,
body {
  padding: 0;
  margin: 0;
  font-family: Inter, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    min-height: 100vh; 
  }

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.ql-editor{
    min-height:200px;
}

.react-datetime-picker__wrapper {
  padding: 5px;
  cursor: pointer;
  font-family: 'Inter';
  font-size: 14px;
  border-radius: 10px;
  outline: none;
  border: 1px solid rgb(192, 180, 180) !important;
}

.react-datetime-picker__inputGroup__input.react-datetime-picker__inputGroup__amPm {
  width: 50px;
  margin-top: -5px;
  margin-bottom: 0px;
  height: fit-content;
  background-color: white;
  border: none;
}

.delete {
  height: 20px;
  opacity: 0.6;
  z-index: 1000;
}


.Dropdown-option {
  font-size: 14px;
 
}

.simplebar-content {
  padding: 0px !important;
}

.Dropdown-arrow-wrapper {
  padding-top: 4px;
}

.errorInput {
  border: 1px solid rgb(196, 12, 12) !important;
  
}

.required {
  color: rgb(196, 12, 12);
  font-size: 12px;
  font-weight: bold;
}

input[type="color"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"],
select:focus,
textarea {
  font-size: 16px;
}