h2.question {
	color: rgb(77, 75, 75);
	font-size: 1.2rem;
	padding: 0;
	margin: 0;
	width: fit-content ;
}

.collegeModalHeader {
	display:flex;
	justify-content: space-between;
	flex-direction: row;
	align-items: center;
	height: fit-content;
	padding: 15px;
	
}

.gone {
	margin-top: 10px;
	color: #585858;
	font-size: 0.9rem;
}

.collegeExit {
	
	cursor: pointer;
	color: rgb(64, 64, 64);
	height: 30px;
	width: 30px;
	svg {
		height: 30px;
		width: 30px;
	}

}

.invalid {
	color: #cf1010;
	font-size: 0.8rem;
	margin: 0px 1px;
	padding: 0px;
}

.permanently {
	color: #525252;
	font-size: 0.8rem;
	margin: 0px 1px;
	padding: 0px;
	input[type='text'] {
		border: 1px solid #c3c3c3;
		width: 100%;
		padding: 5px;
		border-radius: 5px;
		margin-bottom: 15px;
		
	}
}

.options {
	width: 100%;
	display: flex;
	justify-content: space-between;

	button {
		
		font-family: 'Avenir';
		font-size: 0.8rem;
		padding: 10px 20px;
		border: none;
		width: 40%;
		border-radius: 5px;
		background-color: #609ae7;
		color: #fff;
		cursor: pointer;

		&:hover {
			background-color: #3671b6;
		}
		
	}

	.delete {
		background-color: rgb(221, 65, 65);

		&:hover {
			background-color: rgb(173, 15, 15);
		}
	}
}

.editModal {
	padding: 0;


	.banner {
		width: 100%;
		min-width: none;
		height: 120px;
		object-fit: cover;
	}
	.rules {
		font-size: 0.8rem;
		color: rgb(88, 88, 88);
		
		margin-top: 3px;
	}

	.counter {
		font-size: 0.7rem;
		color: rgb(88, 88, 88);
		
	}
	.logo {
		width: 80px;
		height: 80px;
		margin-top: -40px;
		border-radius: 30%;
		margin-left: 50px;
		object-fit: cover;
		box-shadow: 0 0px 5px rgba(0, 0, 0, 0.1);
		background-color: #fff;
		
	}

	input[type='file']{
		opacity: 0;
		cursor: pointer;
		height: 20px;
		width: 100%;
		
	}
	.buttons {
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 100%;
	}
	.submit, .cancel {
		width: 100%;
		margin-top: 20px;
		padding: 10px 20px;
		border: none;
		border-radius: 5px;
		background-color: #609ae7;
		color: #fff;
		cursor: pointer;
		font-family: 'Avenir';
		font-size: 0.8rem;
		&:hover {
			background-color: #3b7eca;
		}
	}

	.cancel {
		background-color: rgb(233, 233, 233);
		color: rgb(90, 90, 90);
		&:hover {
			background-color: rgb(221, 221, 221);
		}
	}

	.chooseFile {
		width: 100%;
		
		border: none;
		border-radius: 5px;
		background-color: #1d5eb4;
		color: #fff;
		cursor: pointer;
		margin-top: -20px;
		
		font-size: 0.8rem;
		font-family: 'Avenir';
		padding: 2px;
		text-align: center;
		
		
		
	}
	.inputs {
		width: 90%;
		margin: 0 auto;
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
		margin-top: 10px;
		margin-bottom: 20px;
		h2 {
			margin-top: 20px;
			color: rgb(55, 55, 55);
			margin-bottom: 0px;
		}

		label {
			font-size: 0.9rem;
			color: rgb(77, 75, 75);
			margin-bottom: 5px;
			display: flex;
			justify-content: space-between;
			width: 100%;
			align-items: center;
			margin-top: 20px;
		}
		.input {
			width: 100%;
			
			padding: 10px;
			outline: none;
			border: 1px solid #e6e9ec;
			border-radius: 5px;
			font-size: 0.9rem;
			color: rgb(68, 68, 68);
			font-family: 'Avenir';
			input {
				width: 100%;
				border: none;
				border-bottom: 1px solid #ccc;
				padding: 10px;
				font-size: 1rem;
				&:focus {
					outline: none;
				}
			}
		}
		textarea {
			resize: vertical;
			height: 120px;
		}
	}

}


.event {
	
	max-width: 800px;
	padding: 0px;
	width: 100%;
	min-width: 400px;
	max-height: 85vh;
	
	img {
		width:  100%;
		height: 100%;
		max-width: 800px;
		object-fit: cover;
		border-radius: 0px;
		max-height:200px;
	}

	.header {
		display: flex;
		
		justify-content: center;
		flex-direction: column-reverse;
		padding-bottom: 10px;
		
	}

	.details {
		background-color: #ffffff;
		padding: 0px 20px;

		border-radius: 5px;
		h3 {
			font-size: 1rem;
			
			margin-top: 3px;
			color: #286dc7;
			margin-bottom: 0px;
			
			
		}
	}
	.about {
		margin-top: 30px;
		font-size: 1.2rem;
		
	}
	h2 {
		font-size: 1.5rem;
		margin-bottom: 0px;
		color: rgb(92, 92, 92);
		margin-top: 10px;
		text-align: left;
		padding: 0px 20px;
	}
	 p {
		font-size: 0.9rem;
		color: rgb(83, 83, 83);
		margin-top: 10px;
		margin-bottom: 30px;
		padding: 0px 20px;
	 }
	a.eLink, .close {
		
		outline: none;
		border: none;
		cursor: pointer;
		margin-top: 10px;
		background-color: #1d5eb4;
		color: #fff;
		padding: 5px 30px;
		border-radius: 15px;
		font-size: 0.8rem;
		font-family: 'Avenir';
		width: 45%;
		text-align: center;
	}
	.close {
		
		background-color: #e6e9ec;
		color: rgb(51, 50, 50);
	}

	.buttons {
		padding: 0px 20px;
		width: 100%;
		display: flex;
		justify-content: space-between;
		padding-bottom: 20px;
	}

	.eventDescription, .oppDescription {
		margin: 20px 0px;
		color: rgb(59, 59, 59);
		
		h1, h2, h3 {
			padding: 0px;
			color: rgb(59, 59, 59);
			margin-bottom: 0px;
			margin-top: 10px;
			
		}

		p {
			margin: 0px;
			padding: 0px;
		}
	}

	.eventDescription {
		padding: 0px 20px;
	}
}

.authModalContent {
	width: 420px;
	display: flex;
	flex-direction: column;

	position: relative;
	padding-bottom: 20px;
	.authModalHead {
		display: flex;
		justify-content:space-between;
		align-items: center;
		flex-direction: row-reverse;
		
		h2 {
			font-size: 1.2rem;
			margin: 0;
			color: #4f4f4f;
		}
		margin-bottom: 10px;
		margin-top: 2px;
		padding: 10px 20px;
		
		border-bottom: 1px solid #ebebeb;
	}
	.exit {
		

		cursor: pointer;
		svg {
			fill: rgb(68, 67, 67);
			width: 30px;
			height: 30px;
		}
		height: 30px;
	}
	.logsign {
		
	}
	.terms {
		font-size: 0.75rem;
		color: rgb(77, 75, 75);
		text-align: center;
		padding: 0px 8px;
		a {
			color: rgb(31, 107, 206);
		}
	}
.LoginItem {
	width: 50%;
	margin: 10px;

}


.authButton {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 80% ;
	border-radius: 20px !important;
	outline: none;
	border: none;
	padding: 11px;
	cursor: pointer;
	svg {
		width: 20px;
		height: 20px;
		margin-right: 10px;
	}
	margin : 0 auto;
	font-weight: bold;
	
	box-shadow: 0 2px 2px #c3c3c5;

}

.facebook {
	background-color: #3b5998;
	color: #fff;
}

.google {
	background-color: #ffffff;
	color: #757577;
	border: 1px solid #d1d1d1;
}
.linkedin {
	background-color: #0077b5;
	color: #fff;
}

.LoginItem {
	width: 90%;
	margin: 0 auto;
	margin-bottom: 10px;
	text-align: center;
}


}



h2.opportunityHead {
	margin: 0px;
	padding: 0px;
	font-size: 1.2rem;
	padding-right: 10px;
}

.opportunityDetails {
	
	h3 {
		font-size: 0.9rem;
		margin-bottom: 0px;
		margin-top:0px;
		color: rgb(73, 73, 73);
		
	}
}

.opportunityHeader {
	margin-top: 30px;
	display: flex;
	align-items:flex-start;
	flex-direction: row;
	justify-content: space-between;

	img {
		border-radius: 50%;
		object-fit: cover;
		height: 100px;
		width: 100px;
	}
}

.opportunityButton {
	margin-top: 15px;
	a {
		padding: 8px 50px;
		font-family: 'Avenir';
		
	}	
}

.opportunityExit {
	position: absolute;
	svg {
		fill: rgb(58, 58, 58);
		width: 35px;
		height: 35px;
	}
	cursor: pointer;
	right:10px;
	top: 10px;
}

@media screen and (max-width:425px) {
	h2.question {
		font-size: 1rem;
	}
	

	.collegeExit {
		height: 25px;
		svg {
			width: 25px;
			height: 25px;
		}
	}
	.event {
		min-width: 0px;
		width: 100%;
		.details {	
			width: 100%;

			h3 {
				font-size: 0.85rem;
				margin-top: 0px;
				margin-bottom: 0px;
			}
		}

		a.eLink, .close {
			padding: 5px 10px;
		}

		h2 {
			font-size: 1.2rem;

		}
	}

	.authModalContent {
		width: 100%;
		margin: 0;
		.authButton {
			width: 100%;
			
		}

		.LoginItem {
			width: 90%;
			margin: 0 auto;
			margin-bottom: 10px;
		}
	}

	.authModalHeader {
		padding: 5px 10px;
		h2 {
			font-size: 1rem;
		}
	}

	.opportunityHeader {
		
	display: flex;
	align-items:flex-start;
	flex-direction: row;
	justify-content: space-between;
	
	img {
		border-radius: 50%;
		object-fit: cover;
		height: 80px;
		width: 80px;
	}
}
}

