.container {
	width: 90%;
	margin: 0 auto;
	max-width: 1000px;
	margin-top: 20px;
.collegeCreate {
	position: relative;
}
	.deleteCollege {
		width: 20px;
		height: 20px;
		position: absolute;
		right: 7px;
		bottom: 7px;
		cursor: pointer;
		opacity: 0.8;
		
		&:hover {
			opacity: 1;
		}
	}
	.colleges {
		padding-bottom: 30px;
		
	}

	div.collegeName {
		width: 100%;
		border: 1px solid #e7e7e7;
		padding: 5px 20px;	
		background-color: #f7f7f7;
		display: flex;
		align-items: center;
		flex-direction: row;
		justify-content: space-between;
		border-bottom: none;
		margin-bottom: -10px;
		padding-bottom: 15px;
		border-top-left-radius: 8px;
		border-top-right-radius: 8px;
		a {
			color: #616975;
			font-family: Inter;
			font-size: 0.9rem;
		}
		
	}
	.dots {
		cursor: pointer;
		height: 18px;
		svg {
			fill: #6e6e6e;
			width: 18px !important;
			height: 18px !important;
		}
		
	}
	h1.title {
		font-size: 1.5rem;
		font-weight: 600;
		color: #2c2c2c;
		margin-bottom: 20px;
		font-family: Inter;
	}
	h2.college {
		font-size: 1rem;
		font-weight: bold;
		margin-bottom: -10px;
		font-family: Inter;
		
		padding: 15px 15px;
		padding-bottom: 22px;
		color: #ffffff;
		background-color: #4a80c7e0;
		border-radius: 5px;
		
	}

	.options {
		
		
		display: flex;
		align-items: center;
		justify-content: space-evenly;
		margin-bottom: 20px;
		margin-top: 20px;
		padding: 0px;
		width: 100%;
		border-bottom: 1px solid rgb(206, 206, 206);
		
		background-color: #ffffff;

		button {
			width: 100%;
			border: none;
			border-radius: 0px;
			background-color: #ffffff;
			color: rgb(105, 105, 105);
			cursor: pointer;
			font-size: 0.8rem;
			font-family: 'Inter';
			padding: 3px;
			text-align: center;
			margin-bottom: -1px;
			border-bottom: rgb(211, 211, 211) solid 1px;
		}

		.selected {
			border-bottom: #071e71 solid 1px;
			color: #071e71;
		}
	}

	.posts {
		padding-bottom: 30px;
	}

	.empty {
		margin-top: 30px;
		font-size: 1.2rem;
		color: #5f6772;
		font-family: Inter;
		text-align: center;

		a:hover {
			text-decoration: underline;
		}
		
	}
}

@media screen and (max-width:425px){
	.container {
		width: 95%;
		.options {
		padding: 0px;
		border: none;
		button {
			border-radius: 0px;
			font-size: 0.8rem;
			width: 100px;
		}
		
	}
	}

	.empty {
		h1 {
			font-size: 1.3rem;
		}
		
		p {
			font-size: 0.9em;
		}

		h2 {
			font-size: 1.2rem;
		}
		h3 {
			font-size: 1rem;
		}

		
	}

	
}